<!DOCTYPE html>
<html lang="en" >

<head>



  <meta charset="UTF-8">
  <title>Web Spyder</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="css/favicon.ico"/>
  <link rel="stylesheet" href="css/style3.css">
  
  

</head>

<body style="overflow-x: hidden;">

<div id="main" class="container">
<h2 data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="1000" style="color: #fff"><%= message %></h2>
<div>
  <h4 style="text-align: left;"><span style="text-align: left;"><%= user.username %></span>
  <span style="float: right;">Score: <%= user.Totalscore %></span></h4>

  
</div>
  <div style="padding-top: 20px;" id="level1">

  <h1>LEVEL1</h1>
  <h4>MAX MARKS 400 </h4>
    <ul>
      <a  style="color: white; font-size: 2em;" href="Q0" ><li  data-aos="fade-right" data-aos-duration="1000">
        100
      </li></a>
      <a  style="color: white; font-size: 2em;" href="Q1" ><li  data-aos="fade-down" data-aos-duration="1000">
        100
      </li></a>
      <a  style="color: white; font-size: 2em;" href="Q2" ><li  data-aos="fade-left" data-aos-duration="1000">
        100
      </li></a>
      
    </ul>
    <br>
    <ul>
      <a  style="color: white; font-size: 2em;" href="Q3" ><li  data-aos="fade-right" data-aos-duration="1000">
        100
      </li></a>
      <a  style="color: white; font-size: 2em;" href="Q4" ><li  data-aos="fade-down" data-aos-duration="1000">
        100
      </li></a>
      <a style="color: white; font-size: 2em;"  href="Q5" ><li  data-aos="fade-left" data-aos-duration="1000">
        100
      </li></a>
      
    </ul>
  </div>

  <!-- level2 -->
  <div style="padding-top: 20px;" id="level2">
  <h1>LEVEL2</h1>
  <h4>MAX MARKS 1200 </h4>
    <ul>
      <a  style="color: white; font-size: 2em;" class="level2li" href="Q6" ><li  data-aos="fade-right" data-aos-duration="1000">
        200
      </li></a>
      <a  style="color: white; font-size: 2em;" class="level2li" href="Q7" ><li  data-aos="fade-down" data-aos-duration="1000">
        200
      </li></a>
      <a  style="color: white; font-size: 2em;" class="level2li" href="Q8" ><li  data-aos="fade-left" data-aos-duration="1000">
        200
      </li></a>
      
    </ul>
    <br>
    <ul>
      <a  style="color: white; font-size: 2em;" class="level2li" href="Q9" ><li  data-aos="fade-right" data-aos-duration="1000">
        200
      </li></a>
      <a  style="color: white; font-size: 2em;" class="level2li" href="Q10" ><li  data-aos="fade-down" data-aos-duration="1000">
        200
      </li></a>
        <a  style="color: white; font-size: 2em;" class="level2li" href="Q11" ><li  data-aos="fade-left" data-aos-duration="1000">
        200
      </li></a>
      
    </ul>
  </div>

  <!-- level3 -->
  <div style="padding-top: 20px;" id="level3">
  <h1>LEVEL3</h1>
  <h4>MAX MARKS 2400 </h4>
    <ul>
      <a  style="color: white; font-size: 2em;" class="level3li" href="Q12" ><li  data-aos="fade-right" data-aos-duration="1000">
        300
      </li></a>
      <a  style="color: white; font-size: 2em;" class="level3li" href="Q13" ><li data-aos="fade-down" data-aos-duration="1000">
        300
      </li></a>
      <a  style="color: white; font-size: 2em;" class="level3li" href="Q14" ><li  data-aos="fade-left" data-aos-duration="1000">
        300
      </li></a>
      
    </ul>
    <br>
    <ul>
      <a  style="color: white; font-size: 2em;" class="level3li" href="Q15" > <li  data-aos="fade-right" data-aos-duration="1000">
        300
      </li></a>
      <a  style="color: white; font-size: 2em;" class="level3li" href="Q16" ><li  data-aos="fade-down" data-aos-duration="1000">
        300
      </li></a>
      <a  style="color: white; font-size: 2em;" class="level3li" href="Q17" ><li  data-aos="fade-left" data-aos-duration="1000">
        300
      </li></a>
      
    </ul>
  </div>
  <!-- final level -->
  <div style="padding-top: 20px;" id="level4">
  <h1>LEVEL4</h1>
  <h4>Both Questions are compulsory</h4>
    <ul>
      <a  style="color: white; font-size: 2em;" class="level4li" href="Q18" ><li  data-aos="fade-right" data-aos-duration="1000">
        800
      </li></a>
      <a  style="color: white; font-size: 2em;" class="level4li" href="Q19" ><li  data-aos="fade-left" data-aos-duration="1000">
        800
      </li></a>
      
      
    </ul>
    
  </div>
  <a href="/users/logout"><button class="btn btn-danger" style="position: fixed;bottom:20px;right: 6%; ">Log Out</button></a>
</div>




  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script  src="../js/index.js"></script>
</body>
</html>
