<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Web Spyder</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">

  <link rel="stylesheet" href="/css/style.css" />
  <link rel="shortcut icon" type="image/x-icon" href="css/favicon.ico"/>

</head>

<body style="overflow: hidden;">
<div class="row">
        <div class="col-lg-12">


           <% if(success_msg.length > 0) { %>

            <div class="alert alert-success"><%= success_msg %></div>
          
          <% } %>

          <% if(error_msg.length > 0) { %>
            <div class="alert alert-danger"><%= error_msg %></div>
          <% } %>
          

          <% if(error.length >0) { %>
            <div class="alert alert-danger"><%= error %></div>
          <% } %> 
          

        </div>

    </div> 

<div style="position: relative;">
<canvas id="c"></canvas>
<div id="main">


<h2 class="page-header">Account Login</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

  <h4 style="color: #fff">Don't have an account? <a href="/users/register">Register here</a></h4>
  </div>
</div>
<script src="../js/background.js"> </script>
</body>
</html>
