<!DOCTYPE html>
<html>
<head>
	<title>Q0</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
     <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/question.css">
  <link rel="shortcut icon" type="image/x-icon" href="css/favicon.ico"/>
</head>
<body>
<div class="main">
<div style="text-align: right;">
  <a href="/level"><button class="btn btn-success" style="position: fixed;right: 8%;" ><i class="fa fa-chevron-circle-left"></i> Back</button></a>
</div>
<h2 data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="1000" style="color: #e83b3b"><%= message %></h2>
<div id="user"><%= user.username %></div>
<aside class="q-question">

      <!-- question start -->
    <div style="border: 1px solid #333; padding: 20px">
  	<h3 >Efficient Converter!</h3>
    <br>
  	<h4>Can you convert number zero(0) into a positive number using just one mathematical operator ?</h4>
    <h4>If yes, enter the operator. Else enter "no"</h4>
    </div>
    <!-- question end -->


  	<img style="width: 600px;height: 400px; padding: 10px;" src="css/favicon.jpg">
  	
  	<div style="padding-bottom: 20px;"></div>

  	<form action="/level1" method="post" >
      <input type="hidden" name="question" value="0" />

      <input style="padding: 15px 0;text-align: center;" type="text" name="answer" placeholder="your answer">
      
    	<!-- <textarea required name="answer" font-weight="200" id=""  style="text-align: center;" placeholder="your answer"></textarea> -->
  		<div style="padding-bottom:10px;"></div>
    	<div id="buttons">
    	<button onclick="" id="button1" class="button btn btn-success" type="submit">submit</button>
    </form>
</aside>

</div>
<script  src="../js/index.js"></script>
</body>
</html>