<!DOCTYPE html>
<html>
<head>
	<title>Q6</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/question.css">
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
     <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
     <link rel="shortcut icon" type="image/x-icon" href="css/favicon.ico"/>
</head>
<body>
<div class="main">
<h2 data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="1000" style="color: #e83b3b"><%= message %></h2>
<div id="user"><%= user.username %></div>
<aside class="q-question">
  	<h3>question6</h3>
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis totam distinctio molestiae exercitationem impedit ut libero. Sit accusamus consectetur distinctio nesciunt quae nobis consequatur facere.</p>
  	<img style="width: 500px;height: 400px;" src="https://static.teamtreehouse.com/assets/views/landing_pages/green-illustration-bg-c581b2117435570bf3f91b6bdfdaf78a3365cc0846b97d8e2631b4ef206fa5c7.svg">
  	
  	<div style="padding-bottom: 20px;"></div>

  	<form action="/level2" method="post">
    	<input style="padding: 15px 0;text-align: center;" type="text" name="answer" placeholder="your answer">
      <input type="hidden" name="question" value="6" />
  		<div style="padding-bottom:10px;"></div>
    	<div id="buttons">
    	<button onclick="" id="button1" class="button btn btn-success" type="submit">submit</button>
    </form>
</aside>
</div>
<script  src="../js/index.js"></script>
</body>
</html>