<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Web Spyder</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">

  <link rel="stylesheet" href="../css/style2.css">
  <link rel="shortcut icon" type="image/x-icon" href="css/favicon.ico"/>

    

 
</head>
<body>
    <div id="rules">
      <div  class="main">
      <p>
      <h1 style="text-align: center;"><u>Rules</u></h1><br>

      </p>
      
      <p>
      <ul>
        <li >
          There are 4 levels. Level 1,2 and 3 will have 6 questions each while level 4 will have 2 questions.
          <br>
          
        </li>

        <li>
          
          
          The questions of level 1 carry 100 marks each. Similarly, the questions of level 2 carry 200 marks each and those of level 3 will carry 300 marks each.
        </li>

        <li>
          In order to complete level 1, one needs to score a minimum of 400 marks.<br>

          <strong >To complete level 2, a minimum score of 400(for level 1) + 800(for level 2) marks has to be attained.</strong>
        </li>

        <li>
          

          <strong >Again, to complete level 3, a minimum of 400(for level 1) + 800(for level 2) + 1200(for level 3) marks needs to be obtained.</strong>
        </li>
        <li>
          Both the questions of level 4 are compulsory and in order to complete the contest both need to be answered.
        </li>
        <li>
          The person who completes the contest first shall be declared the winner.
        </li>


      </ul>
        
      </p>
       <p style="text-align: center;" id="mail">
        For queries mail us at <a  id="mail2" href="mailto:nipandas83@gmail.com">nipandas@gmail.com</a><br>or ping us at 7896369004
      </p>
      <a id="button2" href="/level" class="button2">Get Started</a>
      
    
      </div>
      
    </div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
