* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  color: #000;
  background-color: #333;
  background-image: url('https://static.teamtreehouse.com/assets/views/landing_pages/green-illustration-bg-c581b2117435570bf3f91b6bdfdaf78a3365cc0846b97d8e2631b4ef206fa5c7.svg');
  text-align: center;
  margin-top: 0;
}
.main {
  overflow-x: hidden;
  background-color: white;
  margin: 0 auto;
  width: 90%;
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.q-question {
  box-sizing: border-box;
  background:fadeout(teal, 20%);
  text-align: center;
  padding-bottom: 2.5em;
  box-shadow: 0px 1px 10px fadeout(black, 50%);
  border-bottom: .25em solid darken(teal, 10%);
  padding: 0 1em 1em;
}
  
    h3 {
    margin: 0;
    padding: .5em  0 .25em 0;
    font-weight: 700;
    font-size: 1.75em;
    text-transform: uppercase;
    color: darken(teal, 15%);
  }
  
  p {  
    line-height: 1.65em;
    margin: 0 auto 1em auto;
    color: darken(white, 20%);
    font-weight: 200;
    width: 65%;
    @media(max-width: 50em){ width: 100%;}
  }
  
  form {
    textarea {
      background: transparent;
      border: 1px solid darken(teal, 6.5%);
      border-radius: .25em;
      width: 20%;
      padding: .5em;
      outline: none;
      font-size: 1.25em;
      color:darken(white, 20%); 
      font-family: inherit;
      font-size: inherit;
      font-weight: 200;
      box-shadow:5px 5px 0px darken(teal, 5.5%);
      box-sizing: border-box;
      
      @media(max-width: 50em){ width: 100%;}
    }  
  }
}
#buttons{
    padding:30px; 


    }
    #button1{
        padding:7px 15px;
        position: relative;
        left: 0%;
    }
    #button2{
padding:7px 15px;
position: relative;
        left: 3%;

    }
    textarea {
  width: 240px;
  height: 50px;
  border-radius: 8%;
}
#user{
    font-size: 1.5em;
    font-weight: 600;
}

