* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: 'Architects Daughter', cursive;
  color: #fff;
  background-color: #333;
  text-align: center;
  margin-top: 0;
}

#main{
	background-color: #333;


}
li{
	background-color: #567;
	height: 100px;
	width: 250px;
	display:inline-block;
	padding:20px;
	margin:20px auto;
	border-radius: 5px;

}
#level1{
	margin-top: 30px;
background-color: #348;
}
#level2{
	margin-top: 30px;
background-color: #348;
}
#level3{
	margin-top: 30px;
background-color: #348;
}
#level4{
	margin-top: 30px;
background-color: #348;
}