/* Everything but the jumbotron gets side spacing for mobile first views */

canvas {height:700px;}

#main{
  position: absolute; left:28%;top:5%;
  width:600px;
  background-color: #333;
  margin: 30px;
  padding: 60px;
  border-radius: 5px;
}
.page-header{
	color: white;
}
