* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: 'Architects Daughter', cursive;
  color: #fff;
  background-color: #333;
  text-align: justify;
  margin-top: 0;
}
.main {
  background-color: #333;
  margin: 0 auto;
  width: 95%;
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

li{

  font-size: 1.5em;
  padding-left: 20px;
}
#mail{
  font-size: 1.5em;
  color: #18BC9C;
}
#mail2{
  font-size: 1em;
  color: #18BC9C;
}
#button2 {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  margin: 20px auto;
  max-width: 140px;
  text-decoration: none;
  border-radius: 4px;
  padding: 15px 20px;
}



a.button2 {
  color: #fff;
  box-shadow: #18BC9C 0 80px 0px 2px inset;
}

a.button2:hover {
  color: #18BC9C;
  box-shadow: #18BC9C 0 0px 0px 4px inset;
}